<h1>New browse tag under <b><%= @browse_tag.parent.name %></b></h1>

<% form_for([:admin,@browse_tag]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<%= f.hidden_field :parent_id %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
