<h1>Editing item_browse_tag</h1>

<% form_for(@item_browse_tag) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @item_browse_tag %> |
<%= link_to 'Back', item_browse_tags_path %>
