<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en-us" />
<style type="text/css" media="screen">
	
	/* common
	--------------------------------------------------*/
	
	body {
		margin: 0px;
		padding: 0px;
	}
	#BodyImposter {
		color: #666;
		background: #fff;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	#BodyImposter dd,
	#BodyImposter dt,
	#BodyImposter li,
	#BodyImposter p,
	#BodyImposter td {
		font-size: 12px;
		line-height: 1.5em;
		font-family: Helvetica, Arial, sans-serif;
	}
	#BodyImposter dl,
	#BodyImposter p,
	#BodyImposter ol,
	#BodyImposter ul {
		margin: 0em 0em 1em 0em;
	}
	#BodyImposter img {
		border: 0px;
	}
	#BodyImposter small {
		font-size: 10px;
		line-height: 1.3em;
	}
	#BodyImposter ol {
		padding-left: 1em;
	}
	#Primary ul {
		padding-left: 1em;
		padding-right: 1em;
	}
	#BodyImposter ol li {
		margin: 0px;
		padding: 0px;
	}
	#BodyImposter ul li {
		background: url("img/bullet.gif") no-repeat 0em 0.5em;
		padding: 0px 0px 0px 8px;
		margin: 0px;
		list-style: none;
	}
	
	/* links
	--------------------------------------------------*/
	
	#BodyImposter a {
		text-decoration: underline;
	}
	#Primary a:link,
	#Primary a:visited,
	#Secondary a:link,
	#Secondary a:visited {
		color: #000;
		background: #fff;
	}
	#BodyImposter h2 a:link,
	#BodyImposter h2 a:visited {
		color: #444;
		background: #fff;
		text-decoration: none;
	}
	#Helpful a:link,
	#Helpful a:visited {
		color: #c2c2c2;
		background: #fff;
	}
	#Legal a:link,
	#Legal a:visited {
		color: #7d822b;
		background: #d3dd2e;
	}
	#BodyImposter a:hover {
		text-decoration: none;
	}
	#BodyImposter h2 a:hover {
		text-decoration: underline;
	}
	#BodyImposter a:active {
		color: #000;
		background: #fff;
		text-decoration: none;
	}
	#Legal a:active {
		color: #000;
		background: #d3dd2e;
		text-decoration: none;
	}
	
	/* heads
	--------------------------------------------------*/
	
	#BodyImposter h1,
	#BodyImposter h2 {
		color: #4f7282;
		background: #fff;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
		line-height: normal;
		margin: 0.75em 0em;
		padding: 0px;
	}
	#Masthead h1 {
		font-size: 28px;
		color: #fff;
		background: #91baa8;
	}
	#Primary h2 {
		font-size: 18px;
	}
	#Tertiary h2 {
		font-size: 14px;
	}
	
	/* boxes
	--------------------------------------------------*/
	
	#Box {
		width: 100%;
		text-align: center;
	}
	#Content {
		margin: 0px auto;
		text-align: left;
	}
	#Content td#Primary {
		width: 550px;
	}
	#Content td#Primary img {
		border: 6px solid #e0e0e0;
		float: right;
		margin: 5px 0px 10px 15px;
	}
	#Helpful table {
		color: #c2c2c2;
		background: #fff;
		margin: 0px auto;
	}
	#Helpful p {
		width: 550px;
		margin: 0px auto;
		padding: 0px 20px;
		text-align: left;
	}
	#Legal {
		padding: 20px 0px;
	}
	#Legal table {
		color: #7d822b;
		background: #d3dd2e;
		margin: 0px auto;
	}
	#Legal p {
		width: 550px;
		margin: 0px auto;
		padding: 0px 20px;
		text-align: left;
	}
	#Masthead {
		padding: 20px 0px;
	}
	#Masthead table {
		color: #fff;
		background: #5dc7db;
		margin: 0px auto;
	}
	#Masthead h1,
	#Masthead p {
		width: 550px;
		margin: 0px auto;
		padding: 0px 20px;
		text-align: left;
	}
	#Masthead p, #Masthead p a {
		font-size: 14px;
	}
	#Masthead p a {
		color: #fff;
	}
	#Masthead p #Date {
		float: right;
	}
	#Tertiary {
		padding: 20px 0px;
	}
	#Tertiary table {
		color: #f5bc93;
		background: #eb7926;
		margin: 0px auto;
	}
	#Tertiary h2 {
		color: #fff;
		background: #eb7926;
		padding: 0em 0em 0.5em 0em;
	}
	#Tertiary h2,
	#Tertiary p {
		width: 550px;
		margin: 0px auto;
		padding: 0px 20px;
		text-align: left;
	}
	#Helpful,
	#Legal,
	#Masthead,
	#Tertiary {
		width: 100%;
		text-align: center;
	}

	
</style>
</head>

<body>
<div id="BodyImposter">
	<table cellspacing="0" cellpadding="15" width="100%">
		<tr>
			<td id="Helpful">
				<table cellspacing="0" cellpadding="0" width="550">
					<tr>
						<td style="font-family: Helvetica, Arial, sans-serif;">
							<p> <%= RedCloth.new(@campaign.campaign_text_blocks.find(:first, :conditions => {:name => 'Header'}).body).to_html %> </p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="15" width="100%">
		<tr>
			<td id="Masthead" style="color: #fff; background: #91baa8;">
				<table cellspacing="0" cellpadding="0" width="550">
					<tr>
						<td style="color: #fff; background: #91baa8; font-family: Helvetica, Arial, sans-serif;">
							<h1> <%= @campaign.campaign_text_blocks.find(:first, :conditions => {:name => 'Title'}).body %> </h1>
							<p><span id="Date"> <%= Date.today.to_formatted_s(:long) %> </span> <%= RedCloth.new(@campaign.campaign_text_blocks.find(:first, :conditions => {:name => 'Subtitle'}).body).to_html %> </p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<div id="Box">
		<table id="Content" cellspacing="0" cellpadding="15" width="580">
			<tr>
				<td id="Primary" style="font-family: Helvetica, Arial, sans-serif;">
					<%= RedCloth.new(@campaign.campaign_text_blocks.find(:first, :conditions => {:name => 'Body'}).body).to_html %>
				</td>
			</tr>
		</table>
	</div>
	<table cellspacing="0" cellpadding="15" width="100%">
		<tr>
			<td id="Tertiary" style="color: white; background: #f3a81d;">
				<table cellspacing="0" cellpadding="0" width="550">
					<tr>
						<td style="color: white; background: #f3a81d; font-family: Helvetica, Arial, sans-serif;">
							<%= RedCloth.new(@campaign.campaign_text_blocks.find(:first, :conditions => {:name => 'Bottom Bar'}).body).to_html %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="15" width="100%">
		<tr>
			<td id="Legal" style="color: white; background: #AF983C;">
				<table cellspacing="0" cellpadding="0" width="550">
					<tr>
						<td style="color: white; background: #AF983C; font-family: Helvetica, Arial, sans-serif;">
							<p><%= RedCloth.new(@campaign.campaign_text_blocks.find(:first, :conditions => {:name => 'Footer'}).body + '<br/> If you want to unsubscribe click <unsubscribe>here.</unsubscribe>').to_html %>
								
							</p>
							
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
</body>
</html>